#gbg {
	
	background: linear-gradient(-45deg, #f5a40d, #e70909, #0a65ee, #23cfd5);
	background-size: 400% 400%;
	animation: gradientBG 5s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}