
#author a{
  color: #fff;
  text-decoration: none;
    
}
h1.effect-underline2:after {
	content: '';
  position: absolute;
  left: 40%;
  display: inline-block;
  height: 1em;
  width: 20%;
  border-bottom: 3px solid;
  margin-top: 12px;

	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
  transform: scale(0,1);
  
}

h1.effect-underline2:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}